.title {
	margin: 0;
	display: inline-block;
	border:1px solid #bcbcbc;
	border-radius: 50px;
	font-size: 15px;
	padding: 10px 30px;
	color: #bcbcbc;
}

.thumbnail {
	.caption { 

	 	color: #bcbcbc; 
		h3 { 
			font-family: 'century gothic';
			font-size: 14px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-weight: 200; 
		}		 	

	}
}