a {
	color: #bcbcbc;
}
.title {
	margin: 0;
	display: inline-block;
	border:1px solid #bcbcbc;
	border-radius: 50px;
	font-size: 15px;
	padding: 10px 30px;
	color: #bcbcbc;
}

.thumbnail {
	border: 0;
	margin-bottom: 0;
	.caption { 
 
	 	color: #bcbcbc; 
		h3 { 
			font-family: 'century gothic';
			font-size: 14px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-weight: 200; 
		}		 	

	}
}
.breadcrumb {
	margin: 0 auto;
	background: none;
	li {
		&:last-child {
			font-family: 'century gothic';
		}
		&:before {
			font-family: '黑体';
		}
	}
}

.breadcrumb-box {
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	margin-bottom: 20px;
}

.btn {
	border-radius: 0;
}
.btn-primary {
	background: #303030;
	&:hover {
		background: #000;
	}
}

