@import 'layouts/header'; 

@import 'layouts/footer';

@import 'layouts/list';

@import 'layouts/sidebar';

@import 'layouts/detail';

@import 'global'; 
 
@import 'stylesheets/_bootstrap';

@import 'layouts/home';   