.detail {
	.detail-cont {	
		.pro-name {
			margin: 0;
			font-size: 18px;
			font-family: 'century gothic';
		}
		.price {
			p {
				margin: 0;
				padding: 15px 0;
				font-size: 18px;
			}
		}
		.col-md-12 {
			.btn {
				margin-bottom: 20px;
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			.attr {
				margin-bottom: 10px;
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					li {
						display: inline-block;
						width: 40px;
						//height: 40px;
						span {
							display: inline-block;
							width: 40px;
							height: 40px;
							box-sizing: border-box;
							border:1px solid #eee;
						}						
						&.attr-color-red {
							span {
								background: red;
							}
						}
						&.attr-color-black {
							span {
							background: black;
							}
						}						
					}
				}
				span {
					display: inline-block;
					height: 40px;
					line-height: 40px;
					vertical-align: middle;
					&:nth-child(2) {
						height: 40px;
						line-height: 40px;
					}
				}
				&.attr-color {
					span {
						width: 40px;
					}
					.red {
						background: red;
					}


					li {
						height: 40px;
					}
				}
				&.attr-size {
					span {
						width: 40px;
						&:nth-child(2) {
							border:1px solid #eee;
							width: auto;
							padding: 0 10px;
						}
					}
				}
				&.attr-price {
					span {
						&:first-child {
							width: 40px;
						}
					}
				}
				span,a {
					height: 40px;
					line-height: 40px;	
					vertical-align: middle;	
					&.size {
						padding: 0 10px;
						border:1px solid #eee;
					}	
					&.color {
						display: inline-block;
						width: 40px;
						height: 40px;
						box-sizing: border-box;
						border:1px solid #eee;						
						&.red {
							background: red; 
						}
						&.black {
							background: black;
						}
					}	
				}
			}
		}
		.brief-introduction {
			.col-md-12 {
				height: 300px;
				overflow: hidden;
				overflow-y: auto;
			}
		}
	}
	.image-group {
		border-right: 1px solid #bcbcbc;
		.img-thumbnail {
			margin: 0;
			padding: 0 15px 0 0;
			border: 0;
			list-style: none;
			li {
				border: 1px solid #eee;
				margin-bottom:15px;
			}
		}
		img {
			width: 100%;
		}
	}
	.related-pro {
		h2 {
			margin: 0;
			padding: 0;
			border-bottom:1px solid #bcbcbc;
			span {
				display: inline-block;
				border-top: 1px solid #bcbcbc;
				border-left: 1px solid #bcbcbc;
				border-right: 1px solid #bcbcbc;
				font-size: 16px;
				padding: 10px 20px;
			}
		} 
		ul {
			border: 1px solid #bcbcbc;
			border-top: 0;
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}	
}