.footer {
	border-top: 1px solid #f6f6f6;
	padding: 15px 0;
	.container {
		.col-md-4 {
			img {
				margin-bottom: 10px;
			}
			p {
				margin-bottom: 0px;
				color: #bcbcbc;
				font-size:12px;
			}		
			&:nth-child(2) {
				text-align: center;

			}
			&:last-child {
				text-align: right;
				p {
					margin-bottom: 5px;
				}
			}
		}
	}
}